/*Geral*/

* { margin: 0;
    padding: 0; }

body {
    background-color: #cfe0bc;
}

/*Topo*/


.topo {
    background-color: #276759;
    text-align: center;
    padding: 15px;
}

h1 {
    color: #ffffff;
    font-size: 90px;
    padding-left: 6px;
    padding-bottom: 15px;
}

.topo a {
    color: #ffffff;
    padding: 8px 12px;
}

.topo a:hover {
    background-color: #C8EB71;
    color: #ffffff;
}

img {
    width: 1600px;
    height: 120px;
    margin-top: 10px;
    border: black;
}

.bio {
    color: #60aa5f;
}

.tam {
    font-size: 30px;
}

/*Ingressos*/

h2 {
    font-size: 50px;
}

p{
    font-size: 20px;
}

.ingresso1 {
    width: 100%;
    height: 550px;
    background-color: #60aa5f;
    padding: 20px;
}

.ingresso1 div {
    width: 90%;
    height: 400px;
    background-color: #C8EB71;
    padding: 20px;
    margin-left: 40px;
    margin-top: 50px;
}
.ingresso2 {
    width: 100%;
    height: 550px;
    background-color: #C8EB71;
    padding: 20px;
}

.ingresso2 div {
    width: 90%;
    height: 400px;
    background-color: #60aa5f;
    padding: 20px;
    margin-left: 40px;
    margin-top: 50px;
}

/*Footer*/

.footer {
    float: left;
    text-align: center;
    background-color: #8c857b;
    color: #ffffff;
    width: 100%;
    padding: 10px;
}